header:not(article header), article {
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
    background-color: rgb(120, 188, 219);
}

footer {
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
    color: #fafafa;
    background-color: darkslategray;
}